* {
    border-sizing: border-box;
}

body {
    font-family: 'Common Pixel', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

h1 {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 50px;
}

main {
    margin-top: 0;
}
.container {
    margin: 0 auto;
    max-width: 750px;
  }
.gamepad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fa3bca;
    padding: 20px;
    width: 750px;
    height: 750px;
    border-radius: 20px;
    box-shadow: 10px 10px rgb(107, 0, 75);
}

.slidecontainer {
    width: 100%;
}

.grid {
   display: grid;
   height: 520px;
   width: 520px;
   margin: 20px;
}

.gridCell {
    background-color: white;
    border: 1px solid black;
    user-select: none;
}

.gridCellHover {
    background-color: var(--cell-color, black);
}

.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;  
}

.clearGrid, .color {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(158, 158, 158);
    border: 10px solid rgb(51, 51, 51);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    font-family: 'Common Pixel', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    box-shadow: 4px 7px rgb(0, 0, 0);
}

.erase{
    display: flex;
    align-items:flex-end;
    justify-content:flex-end;
    margin-right: 30px;
    margin-top: 20px;
}

.eraser{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Common Pixel', sans-serif;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

.eraser2 {
    background-color: rgb(175, 0, 102);
}

#clearGrid:active {
  background-color: #686868;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 70%;
    margin-left: 50px;
    background: rgb(128, 128, 128);
    outline: none;
    border-radius: 50px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(146, 0, 85);
    border-radius: 50%;
    cursor: pointer;
}

/* MEDIA QUERIES */
  
  @media (max-width: 850px) {
    .container {
        max-width: 400px;
      }
  }
  
  @media (max-width: 650px) {
    .container {
        max-width: 300px;
      }
  }
  
  